@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* 
=========================
NavBar 
=========================
*/
.custom-btn {
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease;
  z-index: 1;
}

/* Sliding background effect */
.custom-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.4s ease;
  z-index: -1;
}

/* Hover animation from left to right */
.custom-btn:hover::before {
  left: 0;
}

/* Text color change on hover */
.custom-btn:hover {
  color: black !important;
}

/* 
================================
Loader
================================
*/

/* Full page loader */
.loader-full {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.9);
}

/* Inline loader */
.loader-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}




/* ================= CATEGORY UI ================= */

.category-box {
  padding: 20px;
  border-radius: 20px;
  background: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.category-icon {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;
  background: #bcbcbc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.category-img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  transition: 0.3s ease;
}

.category-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.category-box:hover .category-icon {
  background: linear-gradient(135deg, #192435, #ffc1078d);
}

.category-box:hover .category-img {
  transform: scale(1.1);
  filter: brightness(0) invert(1);
}


/* ================= PRODUCT CARD ================= */

.product-card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
}

.product-card img {
  width: 400px;
  height: 200px;
  transition: transform 0.4s ease;
}

.product-card:hover img {
  transform: scale(1.1);
}

.product-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}

/* Hide button initially */
.product-btn {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .product-btn {
  opacity: 1;
}

/* ================================

Brand Slider

===================================*/


.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee-scroll 25s linear infinite;
  will-change: transform;
}

.marquee:hover .marquee-track {
  animation-play-state: paused;
}

.marquee-item {
  min-width: 180px;
  transition: transform 0.3s ease;
}

.marquee-item:hover {
  transform: scale(1.05);
}

@keyframes marquee-scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}


.team-section {
  background-color: #f8f9fa;
}

/* Heading underline */
.team-title::after {
  content: "";
  width: 80px;
  height: 4px;
  background: #ff3c00;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  border-radius: 20px;
}

/* Card Styling */
.team-card {
  border-radius: 15px;
  transition: all 0.3s ease;
  padding-top: 40px;
}

.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/* Image Wrapper */
.team-img-wrapper {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Force same image size */
.team-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/*
===============================

FOOTER

================================
*/

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin-left: 5px;
}

.footer-links a:hover {
  color: #0dcaf0;
}

.social-icon {
  width: 35px;
  height: 35px;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-icon:hover {
  background-color: #0dcaf0;
  color: black;
}

.scroll-top-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  cursor: pointer;
}
